@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}

#root {
  height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startscreen,
.endscreen {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* GAME  */
.game-container {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* QUIZ PROGRESS AND SCORE */
.game-state {
  width: 100%;
  margin-bottom: 3rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.progress {
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  display: block;
}
.score {
  justify-self: end;
}

/* QUESTION AND OPTIONS */
.options {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.btn-option {
  min-width: 20rem;
  font-size: 3.5rem;
  padding: 0.5rem;
}
.correct {
  background-color: lightgreen;
}
.incorrect {
  background-color: lightcoral;
}

.btn-next,
.btn-start {
  font-size: 2.8rem;
  padding: 0.5rem;

  margin-top: 4rem;
}

/* FOOTER */
.footer-link:link,
.footer-link:visited {
  color: #6c6c6c;
}
