$color-gray-light-1: #faf9f9;
$color-gray-light-2: #f4f2f2;
$color-gray-light-3: #f0eeee;
$color-gray-light-4: #ccc;
$color-gray-dark-1: #333;
$color-gray-dark-2: #555;
$color-gray-dark-3: #777;
$color-gray-dark-4: #999;
